@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nohemi-Regular;
    src: url(./assets/fonts/Nohemi-Regular.ttf);
}

@font-face {
    font-family: Nohemi-SemiBold;
    src: url(./assets/fonts/Nohemi-SemiBold.ttf);
}

@font-face {
    font-family: Nohemi-Bold;
    src: url(./assets/fonts/Nohemi-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nohemi-Regular;
}

html {
    background-color: #e9e9e9;
}

@media screen and (min-width:1024px) {
    *{
        font-size: 18px;
    }
}

/*FONTS*/
.nohemiSemibold{
    font-family: Nohemi-SemiBold;
    font-weight: 700;
}

.nohemiBold{
    font-family: Nohemi-Bold;
    font-weight: bold;
}

/*BACKGROUNS*/
.bg-section-one{
    background-image: url(./assets/images/Home/bg-one.webp);
    background-size: cover;
    background-position: 40% center;
    background-repeat: no-repeat;
}

.bg-section-two{
    background-image: url(./assets/images/Home/bg-section-two.webp);
    background-size: 250%;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-section-contact{
    background-image: url(./assets/images/Home/last-section.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:768px) {
    .bg-section-two{
        background-image: url(./assets/images/Home/bg-section-two.webp);
        background-size: 70%;
        background-position: top right;
        background-repeat: no-repeat;
    }
}

/* SWIPER*/
.swiperHome .swiper-pagination-fraction{
    bottom: 15px;
    top: auto;
    text-align: end;
    padding-right: 20px;
}

.swiperHome .swiper-button-prev{
    left: calc(44% - 23px);
}

.swiperHome .swiper-button-next{
    left: calc(56% - 23px);
}  

@media screen and (min-width: 768px) {
    .swiperHome .swiper-pagination-fraction{
        bottom: 15px;
        top: auto;
        text-align: end;
        padding-right: 50px;
    }

    .swiperHome .swiper-button-prev{
        left: calc(48% - 23px);
    }
    
    .swiperHome .swiper-button-next{
        left: calc(52% - 23px);
    }    
}

.swiperHome .swiper-pagination-fraction, .swiperHome .swiper-pagination-fraction span{
    font-size: 30px;
}

.swiperHome .swiper-button-prev, .swiperHome .swiper-button-next{
    top: 93%;
    z-index: 20;
    color: #000;
}


.swiperHome .swiper-slide:hover{
    transform: scale(1.2) !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all 250ms;
}